:root {
  --card: rgba(234, 236, 240, 0.5);
  --gray-950: rgba(12, 17, 29, 1);
  --gray-600: rgba(71, 84, 103, 1);
  --gray-25: rgba(252, 252, 253, 1);
  --gray-900: rgba(16, 24, 40, 1);
  --gray-500: rgba(102, 112, 133, 1);
  --basewhite: rgba(255, 255, 255, 1);
  --gray-300: rgba(208, 213, 221, 1);
  --gray-200: rgba(234, 236, 240, 1);
  --card: rgba(234, 236, 240, 0.5);
  --text-xl-bold-font-family: "Inter", Helvetica;
  --text-xl-bold-font-weight: 700;
  --text-xl-bold-font-size: 20px;
  --text-xl-bold-letter-spacing: 0px;
  --text-xl-bold-line-height: 30px;
  --text-xl-bold-font-style: normal;
  --text-md-bold-font-family: "Inter", Helvetica;
  --text-md-bold-font-weight: 700;
  --text-md-bold-font-size: 16px;
  --text-md-bold-letter-spacing: 0px;
  --text-md-bold-line-height: 24px;
  --text-md-bold-font-style: normal;
  --text-sm-bold-font-family: "Inter", Helvetica;
  --text-sm-bold-font-weight: 700;
  --text-sm-bold-font-size: 14px;
  --text-sm-bold-letter-spacing: 0px;
  --text-sm-bold-line-height: 20px;
  --text-sm-bold-font-style: normal;
  --text-xs-regular-font-family: "Inter", Helvetica;
  --text-xs-regular-font-weight: 400;
  --text-xs-regular-font-size: 12px;
  --text-xs-regular-letter-spacing: 0px;
  --text-xs-regular-line-height: 18px;
  --text-xs-regular-font-style: normal;
  --text-md-medium-font-family: "Inter", Helvetica;
  --text-md-medium-font-weight: 500;
  --text-md-medium-font-size: 16px;
  --text-md-medium-letter-spacing: 0px;
  --text-md-medium-line-height: 24px;
  --text-md-medium-font-style: normal;
  --text-md-regular-font-family: "Inter", Helvetica;
  --text-md-regular-font-weight: 400;
  --text-md-regular-font-size: 16px;
  --text-md-regular-letter-spacing: 0px;
  --text-md-regular-line-height: 24px;
  --text-md-regular-font-style: normal;
}
